@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
html{
    overflow-x: hidden;
}
nav{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}
nav div img{
    width: 50px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
    padding: 2px 4px;
    transition: all;
    transition-duration: 500ms;
    border-bottom: 2px solid black;
}
nav ul li a:hover{
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
}
.menu-icon{
    font-size: 24px;
    display: none;
}
.home{
    background-image: url(img/LATAR-IDN-BS.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.center{
    position: absolute;
    top: 45%;
    left: 24%;
    color: rgb(0, 0, 0);
    text-align: center;
}
.center .title{
    color: deepskyblue;
    font-size: 30px;
    font-weight: 600;
}
.center .next{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.center .button a button{
    height: 55px;
    width: 170px;
    border-radius: 10px;
    margin: 10px ;
    border: 2px solid black;
    background: deepskyblue;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0 10px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    color: black;
}
.center .button a button:hover{
    color: red;
    background: none;
    transition: .3s;
}
.profile{
    background-color: gray;
    padding:3rem 3%;
}
.container-profile h1{
    font-size: medium;
    border-bottom: .1rem solid deepskyblue;
    display: flex;
    justify-content: center;
}
.container span{
    color: deepskyblue;
    cursor: pointer;
}
.box{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.container-vocational{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.container-vocational h1{
    border-bottom: .1rem solid deepskyblue;
    margin-bottom: 1rem;
}
.container-vocational .services-box{
    flex: 1 1 40rem;
    background: gray;
    padding: 1rem 2rem 1rem;
    border-radius: 10rem;
    text-align: center;
    border: .2rem solid deepskyblue;
    transition: .5s ease;
}
.container-vocational .services-box:hover{
    border-color: deeppink;
    transform: scale(1.02);
}
.services-box img{
    width: 3rem;
}
.services-box h3{
    font-size: 1rem;
}
.services-box p{
    font-size: 1rem;
    margin: 1rem 0 1rem;
}
.container-activity .box{
    flex: 1 1 40rem;
    background: gray;
    padding: 1rem 2rem 1rem;
    border-radius: 10rem;
    text-align: center;
    border: .1rem solid deepskyblue;
    transition: .5s ease;
}
.container-activity{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.container-activity h1{
    border-bottom: .1rem solid deepskyblue;
}
.container-activity .box{
    margin-top: 2rem;
    flex: 1 1 40rem;
    background: gray;
    padding: 1rem 2rem 1rem;
    border-radius: 10rem;
    text-align: center;
    border: .4rem solid deepskyblue;
    transition: .5s ease;
}
.container-activity .box:hover{
    border-color: deeppink;
    transform: scale(1.02);
}
.box img{
    width: 3rem;
}
.box h3{
    font-size: 1rem;
}
.box p{
    font-size: 1rem;
    margin: 1rem 0 1rem;
}
.container-activity .box{
    flex: 1 1 40rem;
    background: gray;
    padding: 1rem 2rem 1rem;
    border-radius: 10rem;
    text-align: center;
    border: .1rem solid deepskyblue;
    transition: .5s ease;
}
.container-contact{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: .2rem solid deepskyblue;
}
.container-contact2{
    background-image: url(img/latar\ for\ contact\ section.jpeg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.container-contact2 h2{
    text-align: center;
}
.container-contact2 h2 span{
    color: red;
}
.container-contact2 form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.container-contact2 form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-contact2 form .input-box input,
.container-contact2 form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: #1f242d;
    border-radius: .8rem;
    margin: .7rem 0;
}
.container-contact2 form .input-box input{
    width: 49%;
}
.container-contact2 form textarea{
    resize: none;
}
.container-contact2 form .btn{
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: none;
    margin: 0 10px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}
.container-contact2 form .btn:hover{
    color: black;
    background: none;
    transition: .3s;
}
.footer-text{
    font-size: 1rem;
    background-color: deepskyblue;
    padding: 2rem;
    text-align: center;
}
@media (max-width:700px){
    html{
        font-size: 30%;
    }
    nav{
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
    }
    nav ul{
        flex-direction: column;
        width: 100%;
    }
    nav ul li:last-of-type{
        padding-bottom: 8px;
    }
    nav ul li a{
        font-size: 4rem;
    }
    nav ul.hidden{
        display: none;
    }
    .menu-icon{
        display: flex;
        align-items: center;
    }
    .home{
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }
    .center{
        top: 30%;
    }
    .center .title{
        margin-right: 20rem;
    }
    .center .next{
        margin-right: 20rem;
    }
    .center .button a button{
        margin-right: 22rem;
        font-size: 10px;
    }
    .container-profile .box{
        display: block;
    }
    iframe{
        width: 100%;
    }
    .box p{
        text-align: justify;
    }
    form .input-box{
        display: block;
    }
}
@media (max-width:1025px){
    form{
        padding: 1.5rem;
    }
}